body {
  font-family: Lato;
  text-align: center;
}

#todo {
  display: flex;
  justify-content: space-evenly;
}

#todo input {
  width: 20%;
}

#show-todos div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15vw;
  margin: 2vw 10vw;
}
